body {
  font-family: 'Arial', sans-serif;
  background-color: #161414;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #ebe8e8;
  font-size: 36px;
  margin: 0;
  padding: 10px 0;
}

.content {
  text-align: center;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #b48c8c;
  color: rgb(192, 19, 19);
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #dd2929;
}

#test-container {
  text-align: center;
  margin-top: 30px;
}

.question {
font-size: 20px;
  margin-bottom: 20px
}

.options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.options label {
  display: inline-block;
  background-color: transparent; /* Fondo transparente */
  color: #333; /* Color del texto */
  border: 2px solid #333; /* Borde sólido */
  border-radius: 5px; /* Borde redondeado */
  text-decoration: none; /* Sin subrayado */
  font-size: 16px; /* Tamaño del texto */
  cursor: pointer; /* Cursor al pasar el ratón */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
  padding: 10px 20px; /* Espaciado interno */
  margin: 5px; 
  
}

button {
  display: block;
  margin: 20px auto;
  background-color: #d64141;
  color: rgb(110, 43, 43);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #9e1a1a;
}

.result {
  font-size: 24px;
  margin-top: 20px;
}

.result-message {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e4e1e1;
  border-radius: 5px;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

footer p {
  font-size: 14px;
  color: #fdcccc;
}
#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 90%;
  min-height: 90%;
  width: auto;
  height: auto;
  z-index: -1;
}
/* Estilo para el botón de créditos */
.btn-credits {
  display: inline-block;
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  text-decoration: none; /* Sin subrayado */
  font-size: 16px; /* Tamaño del texto */
  cursor: pointer; /* Cursor al pasar el ratón */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.btn-credits:hover {
  background-color: #0056b3; /* Cambio de color al pasar el ratón */
}
